{{> head}}
{{> navbar}}

<div class="row">

    <div class="col-8">
        <h1>Imagen</h1>
        <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsum tenetur fugit asperiores necessitatibus cum sequi quas iusto itaque accusamus id, sed doloribus dolorem odio tempore voluptas numquam! Officia, explicabo ex.
        </p>
    </div>
    <div class="col-4">
        <img src="assets/img/flor.jpg" alt="" class="img-thumbnail">
    </div>

</div>

{{> footer}}